<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <table>
      <tr>
        <th>name</th>
        <th>height</th>
        <th>mass</th> 
      </tr>
      <tr *ngFor = "let user of person">
        <th>{{user.name}}</th>
        <th>{{user.height}}</th>
        <th>{{user.mass}}</th>
        <th>
          <ion-button color="primary" (click)="save(user.name,user.height,user.mass,user.hair_color,user.skin_color,user.homeworld,user.species)"> guardar</ion-button>
        </th>
      </tr>
    </table>
  </ion-list>
</ion-content>
